<div class='col-xs-10 col-xs-offset-1'>
  <h1>Listing Notebooks</h1>
  <table class='table table-condensed'>
    <thead>
    <tr>
      <th class='col-xs-8'>Name</th>
      <th class='col-xs-4' colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @notebooks.each do |notebook| %>
      <tr>
        <td class='col-xs-8'><%= link_to notebook.name, notebook  %></td>
        <td class='col-xs-1'><%= link_to 'Edit', edit_notebook_path(notebook) %></td>
        <td class='col-xs-1'><%= link_to 'Destroy', notebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td class='col-xs-2'>&nbsp;</td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'New Notebook', new_notebook_path %>
  <br>
  <%= link_to 'Home', '/' %>
</div>
