<p id="notice"><%= notice %></p>

<h1>Showing Notebook</h1>

<h2>Name: <small><%= current_notebook.name %></small></h2>
<h3>Normalnotes in this notebook:</h3>
<%= render 'normalnotes/nntable' %>
<%= link_to 'New', new_notebook_normalnote_path(current_notebook), :class => 'btn btn-success' %>
<h3>Securenotes in this notebook:</h3>
<%= render 'securenotes/sntable' %>
<%= link_to 'New', new_notebook_securenote_path(current_notebook), :class => 'btn btn-danger' %>
<br><br>
<%= link_to 'Edit', edit_notebook_path(current_notebook) %> |
<%= link_to 'Back', notebooks_path %>
