<p id="notice"><%= notice %></p>
<div class="col-xs-10 col-xs-offset-1">
  <h1>Showing Notebook</h1>
  <h2>Name: <small><%= current_notebook.name %></small></h2>
  <%= render 'shared/taglist', :current_item => current_notebook, :del_url => del_tag_notebook_path(current_notebook) %>
  <h3>Notes in this notebook:</h3>
  <%= render 'securenotes/sntable' %>
  <%= link_to 'New', new_notebook_securenote_path(current_notebook), :class => 'btn btn-success' %>
  <br><br>
  <%= link_to 'Edit', edit_notebook_path(current_notebook) %> |
  <%= link_to 'Back', notebooks_path %>
  <%= render 'shared/tag_modal', :add_url => add_tag_notebook_path(current_notebook) %>
</div>
