<p id="notice"><%= notice %></p>

<h1>Showing Notebook</h1>

<h2>Name: <small><%= @notebook.name %></small></h2>
<h3>Normalnotes in this notebook:</h3>
<%= render 'normalnotes/nntable' %>

<br>
<%= link_to 'Edit', edit_notebook_path(@notebook) %> |
<%= link_to 'Back', notebooks_path %>
