<p id="notice"><%= notice %></p>
<div class="col-xs-10 col-xs-offset-1">
  <h1>Showing Folder</h1>
  <h2>Name: <small><%= current_folder.name %></small></h2>
  <%= render 'shared/taglist', :current_item => current_folder, :del_url => del_tag_folder_path(current_folder)%>
  <h3>Links in this folder:</h3>
  <%= render 'links/linktable' %>
  <%= link_to 'New', new_folder_link_path(current_folder), :class => 'btn btn-success' %>
  <br><br>
  <%= link_to 'Edit', edit_folder_path(current_folder) %> |
  <%= link_to 'Back', folders_path %>
  <%= render 'shared/tag_modal', :add_url => add_tag_folder_path(current_folder) %>
</div>
