<p id="notice"><%= notice %></p>
<div class="col-xs-10 col-xs-offset-1">
  <h1>Showing Link</h1>
  <h2>Title: <small><%= current_link.title %></small></h2>
  <%= render 'shared/taglist', :current_item => current_link, :del_url => del_tag_link_path(current_link) %>
  <h2>URL: <small><%= current_link.url %></small></h2>
  <h3>Description: <small><%= current_link.description %></small></h3>

  <br>
  <%= link_to 'Back', folder_path(current_link.folder_id) %> |
  <%= link_to 'Edit', edit_link_path %>
  <%= render 'shared/tag_modal', :add_url => add_tag_link_path(current_link) %>
</div>
