<p id="notice"><%= notice %></p>

<h1>Showing Link</h1>
<br>
<h2>Title: <small><%= current_link.title %></small></h2>
<h2>URL: <small><%= current_link.url %></small></h2>
<h3>Description: <small><%= current_link.description %></small></h3>

<br>
<%= link_to 'Back', folder_path(current_link.folder_id) %> |
<%= link_to 'Edit', edit_link_path %>
