<p id="notice"><%= notice %></p>
<div class="col-xs-10 col-xs-offset-1">
  <h1>Showing note</h1>
  <h2>Title: <small><%= current_snote.title %></small></h2>
  <%= render 'shared/taglist', :current_item => current_snote, :del_url => del_tag_securenote_path(current_snote) %>
  <table class="table">
    <thead>
      <tr>
        <th><h4>Note:</h4></th>
      </tr>
    </thead>
    <tr>
      <td><%= current_snote.note_text.html_safe %></td>
    </tr>
  </table>
  <br>
  <%= link_to 'Back', notebook_path(current_snote.notebook_id) %> |
  <%= link_to 'Edit', edit_securenote_path %>
  <%= render 'shared/tag_modal', :add_url => add_tag_securenote_path(current_snote) %>
</div>
