<p id="notice"><%= notice %></p>

<h1>Showing Secure note</h1>
<br>
<h2>Title: <small><%= current_snote.title %></small></h2>
<h2>Note:</h2>
<p>
  <%= current_snote.note_text %>
</p>
<br>
<%= link_to 'Back', notebook_path(current_snote.notebook_id) %> |
<%= link_to 'Edit', edit_securenote_path %>
