<!DOCTYPE html>
<html>
<head>
  <title>Jnotes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<ul class="text-center ul-nav">
  <li class="li-inline"><%= link_to 'Home', root_path %></li>
  |
  <% if user_signed_in? %>
    <li class="li-inline"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li class="li-inline"><%= link_to 'Sign in', new_user_session_path %></li>
    |
    <li class="li-inline"><%= link_to 'Sign up', new_user_registration_path %></li>
  <% end %>
</ul>

<%= yield %>

</body>
</html>
